<div class="webbody clearfix">
    {{> menuBar }}
    <div class="groupcontent" id="mt-container">
        {{> groupMenu}}
        <div class="groupbody articlebody">
            <h1 class="article_title">{{article.title}}</h1>
            <div class="article_btnline clearfix">
                <span class="article_group">发自<a href="/group/{{article.group.name}}">{{article.group.name}}</a></span>
                <a class="linebtn" id="article_comment" data-toggle="modal" data-target="#reply-model"><i class="glyphicon glyphicon-comment"></i>跟帖</a>
                <a class="linebtn" id="article_share" href="javascript:;"><i class="glyphicon glyphicon-share-alt"></i>分享</a>
                <a class="linebtn" id="article_collect" href="javascript:;"><i class="glyphicon glyphicon-heart-empty"></i>收藏</a>
            </div>
            {{#each article.floor}}
            <div class="floor_info clearfix">
                <a class="userinfo" href="javascript:;">
                    <img src="{{user.img}}">
                    <span class="username">{{user.name}}</span>
                    <span class="posttime">{{time}}</span>
                </a>
                <span class="floornum">{{@index}}L</span>
                <a class="commentbtn" data-toggle="modal" data-target="#reply-model"><i class="glyphicon glyphicon-comment"></i>回复</a>
            </div>
            <div class="floor_con">{{{content}}}</div>
            {{/each}}
        </div>
        <div id="reply-model" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                           跟帖
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="post_content" class="col-sm-2 control-label">内容</label>
                                <div class="col-sm-9 editorblock">
                                    <textarea class="form-control" rows="6" id="reply_content"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="replysubmit" type="submit" class="btn btn-primary">
                            发布
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="articleid" value="{{article.postId}}">
    </div>
</div>
