<div class="webbody clearfix">
    {{> menuBar }}
    <div class="groupcontent" id="mt-container">
        {{> groupMenu}}
        <div class="groupbody">
            <div class="groupinfo clearfix">
                <img class="groupimg" src="{{thisGroup.img}}">
                <div class="grouptitle clearfix">
                    <h1>{{groupname}}</h1>
                    <a class="follow_btn btn {{#if ifUserFollow}}btn btn-default{{else}}btn-success{{/if}}" id="groupfollow_btn" href="javascript:;" data-groupname="{{groupname}}">{{#if ifUserFollow}}取消关注{{else}}关注{{/if}}</a>
                </div>
                <p class="groupintro">{{thisGroup.intro}}</p>
                <p class="grouphoster">组长：<a href="javascript:;">{{thisGroup.hoster.name}}</a></p>
            </div>
            <p class="groupabout_line">地址：{{thisGroup.link}}</p>
            <p class="groupabout_line">微信：{{thisGroup.weixin}}</p>
            <p class="groupabout_line">微博：{{thisGroup.weibo}}</p>
        </div>
    </div>
</div>
