<div class="webbody clearfix">
    {{> menuBar }}
    <div class="mtcontent" id="mt-container">
        <h1 class="home_title">我关注的群组</h1>
        <div class="mygrouplist clearfix">
            {{#each group}}
            <a href="/group/{{name}}" class="groupblock">
                {{#if img}}
                <img src="{{img}}">
                {{else}}
                <img src="/img/groupimg.png">
                {{/if}}
                <span class="title">{{name}}</span>
                <span class="intro">{{intro}}</span>
            </a>
            {{/each }}
            <a href="/findgroup" class="group_edit">
                <i class="icon_findgroup"></i>
                <span class="title">关注新群组</span>
            </a>
            <a data-toggle="modal" data-target="#creatgroup-model" class="group_edit">
                <i class="icon_addgroup"></i>
                <span class="title">创建新群组</span>
            </a>
        </div>
        {{> creatGroup}}
    </div>
</div>
