<div class="blocklist clearfix">
    {{#each postArray}}
    <a class="mtimg_block" href="/group/{{group.name}}/{{postId}}">
        <img class="block_img" src="http://placehold.it/320x240/09f/fff">
        <span class="block_text">
            <span class="block_title">{{title}}</span>
        {{#each floor}}
            {{#if @first}}<span class="block_info">{{content}}</span>{{/if}}
        {{/each}}
        </span>
    </a>
    {{else}}
    <p class="no_post">暂无文章哦</p>
    {{/each }}
</div>
