<div class="groupmenu">
    <div class="grouttitle clearfix">
        <h2>{{groupname}}</h2>
        <a class="postbtn" data-toggle="modal" data-target="#post-model"><i class="glyphicon glyphicon-pencil"></i>发帖</a>
    </div>
    <div class="group_search">
        <input type="text" placeholder="搜索">
        <a class="searchbtn" href="javascript:;"><i class="glyphicon glyphicon-search"></i>搜索</a>
    </div>
    <ul class="group_postlist">
        {{#each groupPost}}
        <li>
            <a class="post_link" href="/group/{{../groupname}}/{{postId}}">
                <img class="userimg" src="http://placehold.it/40x40/09f/fff" alt="">
                {{#each floor}}
                    {{#if @first}}<span class="username">{{user.name}}</span>{{/if}}
                {{/each}}
                <span class="posttitle">{{title}}</span>
                {{#each floor}}
                    {{#if @first}}<span class="postinfo">{{content}}</span>{{/if}}
                {{/each}}
                <sup>3</sup>
            </a>
        </li>
        {{else}}
        <li><span class="no_post">我来发第一贴~（箭头）</span></li>
        {{/each }}
    </ul>
</div>
<div id="post-model" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                   发帖
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="user-name-login" class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="post_title" name="posttitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="user-pwd-login" class="col-sm-2 control-label">内容</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="6" id="post_content" name="postcontent"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" value="{{groupname}}" name="groupname" id="group_name">
            <input type="hidden" value="{{user.name}}" name="username" id="user_name">
            <div class="modal-footer">
                <button id="postsubmit" type="submit" class="btn btn-primary">
                    发布
                </button>
            </div>
        </div>
    </div>
</div>
